body {
    font-family: 'Space Mono', monospace;
    background-color: #202020;
    color: #fafafa;
    font-size: 14px;
    padding: 0 14px;
}
a {
    text-decoration: none;
    transition: all .2s;
}
a:before {
    content: "> ";
}
a, a:visited {
    color: inherit;
}
a:hover, a:active, a:focus {
    color: #ffffff;
}
p {
    line-height: 1.6em;
}
small {
    font-size: .8em;
}
code {
    font-family: Consolas,"courier new";
    color: greenyellow;
    padding: 1.2rem;
}

#app {
    width: 100%;
    max-width: 767px;
    margin: 2vh auto;
}
#app h1 {
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
}
.api-check {
    padding: 1.5rem;
    border: 1px solid rgba(252, 252, 252, .5);
    border-radius: 1.5rem;
    margin: .75rem 0;
    width: 100%;
    box-sizing: border-box;
}
.api-check h2 {
    font-size: 1.15rem;
    margin-top: 0;
    background-color: #520000;
    padding: 3px 6px;
    overflow: hidden;
}
.api-check h2 a {
    position: relative;
    padding-left: 0;
    transition: all .2s;
}
.api-check h2 a:before {
    position: absolute;
    left: -50px;
    transition: all .25s;
}
.api-check h2 a:hover {
    padding-left: 1.25rem;
}
.api-check h2 a:hover:before {
    left: 0;
}
.api-definition strong {
    color: rgba(255, 255, 255, .6);
    border-bottom: 1px solid;
    padding-bottom: 1px;
    font-size: .85rem;
}
.api-official-docs {
    margin-top: .5rem;
    margin-bottom: 0;
    color: #dcdcdc;
}

.api-example {
    border-top: 1px solid;
}
.api-example .buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.api-example .buttons>* {
    font-size: 1.05rem;
}


#ui_message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: rgba(0,0,0,0.66);
}
#ui_message .message {
    transform-origin: center;
    animation-name: rubberBand;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }
    10% {
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(.5)
    }
    50% {
        transform: scaleX(1.25);
    }
    60% {
        transform: scaleX(.8);
    }
    68% {
        transform: scaleX(1.16);
    }
    75% {
        transform: scaleX(.9);
    }
    81% {
        transform: scaleX(1.1);
    }
    86% {
        transform: scaleX(.96);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}